{{define "title"}}Register{{end}}
{{define "main"}}
 <form action="/user/register" method="POST">
 {{with .Form}}
     <div>
         <label>Name:</label>
         {{with .Errors.name}}
             <label class="error">{{.}}</label>
         {{end}}
          <input type="text" name="name" value="{{.Name}}"/>

     </div>
     <div>
         <label>Nickname:</label>
         {{with .Errors.nickname}}
             <label class="error">{{.}}</label>
         {{end}}
         <input type="text" name="nickname" value="{{.Nickname}}"/>
     </div>
     <div>
         <label>Email:</label>
         {{with .Errors.email}}
             <label class="error">{{.}}</label>
         {{end}}
         <input type="text" name="email" value="{{.Email}}"/>
     </div>
     <div>
         <label>Password:</label>
         {{with .Errors.password}}
             <label class="error">{{.}}</label>
         {{end}}
         <input type="text" name="password" value="{{.Password}}"/>
     </div>

     <div>
         <input type="submit" value="Register" />
     </div>
     {{end}}
   </form>
{{end}}