{{define "title"}}Your art!{{end}}
{{define "main"}}

    <pre>
        {{.}}
    </pre>

     <form action="/export" method="post">
         <input type="hidden" name="data" value="{{.}}">

         <button type="submit">Export Your Output</button>
     </form>
{{end}}